.profile-outer-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-container {
  width: 90%;
  height: 100%;
  border: 1px solid black;
}

.profile-navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f6d600;
  height: 10%;
}

.profile-navbar a {
  text-decoration: none;
}
